<div id="<%= dom_id consultant %>">
  <p>
    <strong>Name:</strong>
    <%= consultant.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= consultant.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= consultant.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= consultant.date_of_birth %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= consultant.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= consultant.password %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= consultant.speciality %>
  </p>

  <p>
    <strong>Board number:</strong>
    <%= consultant.board_number %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= consultant.experience %>
  </p>

</div>
