<div id="<%= dom_id growth %>">
  <p>
    <strong>Weight:</strong>
    <%= growth.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= growth.height %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= growth.age %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= growth.length %>
  </p>

  <p>
    <strong>Head circumference:</strong>
    <%= growth.head_circumference %>
  </p>

</div>
