<p style="color: green"><%= notice %></p>

<%= render @growth %>

<div>
  <%= link_to "Edit this growth", edit_growth_path(@growth) %> |
  <%= link_to "Back to growths", growths_path %>

  <%= button_to "Destroy this growth", @growth, method: :delete %>
</div>
