<div id="<%= dom_id payment %>">
  <p>
    <strong>Project:</strong>
    <%= payment.project_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

</div>
